<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 41.2px;"><head>
    <script src="/app.config.js?v=1717558682417"></script>

    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="/uploads/favicon/favicon.png" />
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="manifest" />
    <title id="app-title"></title>
  <script src="/js/app.js"></script>
  <link rel="modulepreload" crossorigin="" href="/assets/js/modules-6b0d6df4.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/native/index-7b2487e5.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/en-93cdab10.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/rus-ecb14220.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/vi-40bd560a.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/id-24cc3835.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/hd-c5b1d7e8.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/tha-330057b2.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/md-02b1fc1c.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/bra-1f3ea623.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/my-80d37f62.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/bdt-d8f19d0c.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/zh-3589f8b3.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/pak-9f46abf2.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/ar-64903102.js">
  <link rel="modulepreload" crossorigin="" href="/assets/js/page-activity-d3ba61d1.js">
  <link rel="stylesheet" href="/assets/css/modules-b642e9bc.css">
  <link rel="stylesheet" href="/assets/css/page-activity-4fe5c6bf.css">
  

  <link rel="stylesheet" href="/assets/css/index-06e0e9c4.css">
  <link rel="stylesheet" href="/assets/css/page-home-522c97b9.css">

  <link rel="stylesheet" href="/assets/css/page-login-49518e3f.css">
  <link rel="stylesheet" href="/assets/css/page-main-284c07ba.css">


  <link rel="stylesheet" href="/assets/css/page-test-24de9c20.css">

  <link rel="stylesheet" href="/assets/css/page-promotion-14ce89d7.css">
  <link rel="stylesheet" href="/assets/css/page-wallet-b9af2085.css">


  <link rel="modulepreload" as="script" crossorigin="" href="/assets/js/page-wallet-9ebaccbd.js"><link rel="modulepreload" as="script" crossorigin="" href="/assets/js/page-test-c9e7577b.js"><link rel="stylesheet" href="/assets/css/page-test-24de9c20.css"><link rel="modulepreload" as="script" crossorigin="" href="/assets/js/page-promotion-7204c028.js"><link rel="stylesheet" href="/assets/css/page-promotion-3f9ce693.css"><link rel="stylesheet" href="/assets/css/page-wallet-79187a4c.css"><link rel="modulepreload" as="script" crossorigin="" href="/assets/js/page-main-be46dccd.js"><link rel="stylesheet" href="/assets/css/page-main-95655e29.css">
 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.1/axios.min.js"
     integrity="sha512-w9PRLSWbo+Yqin/AzSMGoP+qe8UF1njFtd1rEnR58Xv2GEJNEa6O6Bv53mkPbNyAwGCn1HVt1OOvd5i+E55t+w=="
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="" style="font-size: 12px;">
   

    <div id="app" data-v-app="" style="
    background: #F7F8FF;
"><div data-v-647954c7="" class="ar-loading-view" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif; display: none;"><div data-v-647954c7="" class="loading-wrapper"><!-- <VanLoading /> --><div data-v-647954c7="" class="loading-animat">
   
</div><div data-v-647954c7="" class="com__box" style="display: none;"><!-- loading --><div class="loading" data-v-647954c7=""><div class="shape shape-1" data-v-647954c7=""></div><div class="shape shape-2" data-v-647954c7=""></div><div class="shape shape-3" data-v-647954c7=""></div><div class="shape shape-4" data-v-647954c7=""></div></div><!-- 说明：组件名 --></div><!-- <div class="animation"></div> --></div><div data-v-647954c7="" class="skeleton-wrapper" style="display: none;"><div data-v-647954c7="" class="van-skeleton van-skeleton--animate"><!----><div class="van-skeleton__content"><!----><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 60%;"></div></div></div><div data-v-647954c7="" class="van-skeleton van-skeleton--animate"><div class="van-skeleton-avatar van-skeleton-avatar--round"></div><div class="van-skeleton__content"><h3 class="van-skeleton-title"></h3><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 60%;"></div></div></div><div data-v-647954c7="" class="van-skeleton van-skeleton--animate"><!----><div class="van-skeleton__content"><h3 class="van-skeleton-title"></h3><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 100%;"></div><div class="van-skeleton-paragraph" style="width: 60%;"></div></div></div></div></div><!--v-if--><div data-v-28c19aaa="" class="partner" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif;"><div data-v-12a80a3e="" data-v-28c19aaa="" class="navbar" style="
    height: 1.22667rem;
    z-index: 100;
    -webkit-box-flex: 0;
    -webkit-flex: none;
"><div data-v-12a80a3e="" class="navbar-fixed" style="
    position: fixed;
    top: 0;
    left: 50%;
    width: 10rem;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;
    background: #FFF;
    color: #1E2637;
"><div data-v-12a80a3e="" class="navbar__content" style="
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 1.22667rem;
    color: #1E2637;
"><div data-v-12a80a3e="" class="navbar__content-left" onclick="history.back()" style="
    position: absolute;
    left: .32rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    top: 0;
"><i data-v-12a80a3e="" class="van-badge__wrapper van-icon van-icon-arrow-left"><!----><!----><!----></i></div><div data-v-12a80a3e="" class="navbar__content-center" style="
    font-size: .48rem;
    line-height: .48rem;
"><!--v-if--><div data-v-12a80a3e="" class="navbar__content-title">Partner rewards</div></div><div data-v-12a80a3e="" class="navbar__content-right"  style="
    position: absolute;
    right: .32rem;
"></div></div></div></div><div data-v-28c19aaa="" class="partner-banner" style="
    height: 3.01333rem;
    margin-bottom: .4rem;
    position: relative;
    padding-left: 6rem;
    padding-top: .53333rem;
    background: url(/assets/png/teamPartnerBg-7a2f5d9d.png);
    background-size: cover;
"><h2 data-v-28c19aaa="">Invite friends to get unlimited rewards</h2></div><div data-v-28c19aaa="" class="partner-main" style="
    padding: 0 .32rem;
"><div data-v-28c19aaa="" class="partner-item"><span data-v-28c19aaa=""  style="
    color: #768096;
">Invitation Count</span><div data-v-6cf5705a="" id="teamSubordinatesCount">0</div></div><div data-v-28c19aaa="" class="partner-item"><span data-v-28c19aaa=""  style="
    color: #768096;
">Effective Invitation Count</span><span data-v-28c19aaa="" id="effectiveInvitationCount" class="count" style="
    color: #18B660;
">0</span></div><div data-v-28c19aaa="" class="partner-item"><span data-v-28c19aaa=""  style="
    color: #768096;
">Invitation Total Bonus </span><span id="invitationTotalBonus" data-v-28c19aaa="" class="money" style="
    color: #FB5B5B;
">₹0.00</span></div><div data-v-28c19aaa="" class="partner-entry" onclick="location.href='/invibonus/record'"style="
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: .37333rem;
    color: #1E2637;
    padding: .4rem;
"><div data-v-28c19aaa="" style="
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
">Invitation record <svg data-v-28c19aaa="" fill="none" height="36" viewBox="0 0 37 36" width="37" xmlns="http://www.w3.org/2000/svg" style="
    width: .48rem;
    height: .48rem;
"><path data-v-28c19aaa="" clip-rule="evenodd" d="M11.3008 26.5V24.3644L19.0121 17.5665L11.3008 10.6356V8.5L20.1579 16.4653L21.3008 17.5665L20.1579 18.6677L11.3008 26.5Z" fill="#666666" fill-rule="evenodd"></path><path data-v-28c19aaa="" clip-rule="evenodd" d="M17.5 26.5V24.3644L25.2113 17.5665L17.5 10.6356V8.5L26.3571 16.4653L27.5 17.5665L26.3571 18.6677L17.5 26.5Z" fill="#666666" fill-rule="evenodd"></path></svg></div></div>



<div data-v-600663f7="" class="content"
         style="padding: 0rem !important; padding-top: 0.09rem !important; border-radius:12px;
    background: #cbcbcb !important;">
         <div data-v-600663f7="" class="shareBtnContainer"><button data-v-600663f7="" class="shareBtn">INVITATION
            LINK</button></div>
      <div data-v-600663f7="" class="promote__cell">
         <div data-v-600663f7="" class="promote__cell-item" id="invitation_code_copy_btn">
            <div data-v-600663f7="" class="label">
               <img data-v-600663f7="" src="/assets/png/tradeHistory-dd8caea2.png" class="svg-icon icon-team_port" style="
    width: 0.7rem;
    height: 0.7rem;
">
               <span data-v-600663f7="">Copy invitation code</span>
            </div>
            <div data-v-600663f7="" class="arrow">
               <span data-v-600663f7="" id="invitation_code_display">
                  Loading...
                  <svg data-v-600663f7="" class="svg-icon icon-copy">
                     <use xlink:href="#icon-copy"></use>
                  </svg>
               </span>
            </div>
         </div>
         
         
      </div> </div>



   </br>


<div data-v-28c19aaa="" class="partner-rule"><div data-v-28c19aaa="" class="partner-rule-title"><img data-v-600663f7="" src="/assets/png/tradeHistory-dd8caea2.png" class="svg-icon icon-team_port" style="
    width: 0.7rem;
    height: 0.7rem;
"><span data-v-28c19aaa=""style="
    margin-left: 0.1rem;
">Direct Invites</span></div></br>


<div data-v-67e25db3="" class="container" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif">
   <div data-v-67e25db3="" role="feed" class="van-list" aria-busy="false">
      <div class="van-list__finished-text">No more</div>

      <div class="van-list__placeholder"></div>
   </div>
</div>
    
</body>

<style>
    .message_alert_root {
       font-family:
          -apple-system,
          BlinkMacSystemFont,
          Helvetica Neue,
          Helvetica,
          Segoe UI,
          Arial,
          Roboto,
          PingFang SC,
          Hiragino Sans GB,
          Microsoft Yahei,
          sans-serif;
       font-size: 12px;
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       -webkit-tap-highlight-color: transparent;
       outline: none;
       max-width: 12.8rem;
       width: 80%;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 100000;
       border-radius: 14px;
    }
 
    .message_alert_text {
       font-family:
          -apple-system,
          BlinkMacSystemFont,
          Helvetica Neue,
          Helvetica,
          Segoe UI,
          Arial,
          Roboto,
          PingFang SC,
          Hiragino Sans GB,
          Microsoft Yahei,
          sans-serif;
       margin: 0;
       box-sizing: border-box;
       -webkit-tap-highlight-color: transparent;
       outline: none;
       transition: opacity 0.5s;
       animation: bounce-in-data-v-1dcba851 0.5s;
       position: relative;
       padding: 0.32rem 0.66667rem;
       text-align: center;
       line-height: 0.64rem;
       overflow: hidden;
       font-size: 0.37333rem;
       color: #fff;
       background-color: rgba(0, 0, 0, 0.8);
    }

    
 
    @keyframes bounce-in-data-v-1dcba851 {
       0% {
          transform: scale(0.4);
       }
 
       50% {
          transform: scale(1.03);
       }
 
       to {
          transform: scale(1);
       }
    }

    .claimBonusBtn {
    display: inline-block;
    padding: 6px 10px;
    background-color: #18B660;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.claimedBtn {
    background-color: grey;
    color: white;
    padding: 6px 10px;
    cursor: not-allowed;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    pointer-events: none;
}


 </style>
 
 <script>
   $(".ar-loading-view").fadeIn();
   const userInfoTypes = {
      phoneNumber: "phone_user",
      username: "name_user",
      balance: "money_user",
      userId: "id_user",
      referCode: "code",
      betAmount: "total_bet_amount",
      level: "level",
   };

   let userData = null;

   const fetchUser = async () => {
      try {
         const response = await axios.get("/api/webapi/GetUserInfo");
         userData = response?.data?.data;
      } catch (error) {
         console.log(error);
      }
   };

   const setUserInfoDisplay = async (idName, userInfoType, prefix) => {
      let display = document.getElementById(idName);
      display.textContent = "Loading...";
      console.log(userData);
      try {
         // if (userData === null) {
         //     const response = await axios.get('/api/webapi/GetUserInfo');
         //     userData = response?.data?.data
         // }

         if (userData === null || userData === undefined) {
            throw Error("Something went wrong while fetching the user wallet balance!");
         }

         display.textContent = prefix ? prefix(userData?.[userInfoType]) : userData?.[userInfoType];
      } catch (error) {
         console.log(error);
      }
   };
   fetchUser().then(() => {
      setUserInfoDisplay("invitation_code_display", userInfoTypes.referCode);
   });
   const alertMessage = text => {
      const msg = document.createElement("div");
      msg.setAttribute("data-v-1dcba851", "");
      msg.className = "message_alert_root";

      const msgContent = document.createElement("div");
      msgContent.setAttribute("data-v-1dcba851", "");
      msgContent.className = "message_alert_text";
      msgContent.style = "";
      msgContent.textContent = text;

      msg.appendChild(msgContent);
      document.body.appendChild(msg);

      setTimeout(() => {
         msgContent.classList.remove("v-enter-active", "v-enter-to");
         msgContent.classList.add("v-leave-active", "v-leave-to");

         setTimeout(() => {
            document.body.removeChild(msg);
         }, 100);
      }, 1000);
   };
   $("#invitation_code_copy_btn").click(function (e) {
      e.preventDefault();
      alertMessage("Copy successful", $(this));
      navigator.clipboard.writeText(userData?.[userInfoTypes.referCode]);
   });
   $(".shareBtnContainer").click(function (e) {
      let invitationLink = `${window.location.origin}/register?invitationCode=${userData?.[userInfoTypes.referCode]}`;

      e.preventDefault();
      alertMessage("Copy successful", $(this));

      navigator.share({
         title: document.title,
         text: "Invite Your friends from this link and claim rewords!",
         url: invitationLink,
      });
   });


   

   document.addEventListener('DOMContentLoaded', () => {
  fetch('/get-app-details')
    .then(response => response.json())
    .then(data => {
      

     

      // Now initiate the subordinates data logic
      const initSubordinatesData = async () => {
        try {
          const response = await axios.get("/api/subordinates/summary");
          console.log(response);

          const directSubordinatesCount = response?.data?.data?.directSubordinatesCount || 0;
          $("#directSubordinatesCount").text(directSubordinatesCount);

          
          // Display other subordinate data as in your original code
          $("#directSubordinatesCount").text(response?.data?.data?.directSubordinatesCount);
          $("#noOfRegisteredSubordinates").text(response?.data?.data?.noOfRegisteredSubordinates);
          $("#directSubordinatesRechargeQuantity").text(response?.data?.data?.directSubordinatesRechargeQuantity);
          $("#directSubordinatesRechargeAmount").text(response?.data?.data?.directSubordinatesRechargeAmount);
          $("#directSubordinatesWithDepositCount").text(response?.data?.data?.directSubordinatesWithDepositCount);
          $("#teamSubordinatesCount").text(response?.data?.data?.teamSubordinatesCount);
          $("#noOfRegisterAllSubordinates").text(response?.data?.data?.noOfRegisterAllSubordinates);
          $("#teamSubordinatesRechargeQuantity").text(response?.data?.data?.teamSubordinatesRechargeQuantity);
          $("#teamSubordinatesRechargeAmount").text(response?.data?.data?.teamSubordinatesRechargeAmount);
          $("#teamSubordinatesWithDepositCount").text(response?.data?.data?.teamSubordinatesWithDepositCount);
          $("#totalCommissionsThisWeek").text(response?.data?.data?.totalCommissionsThisWeek);
          $("#totalCommissions").text(response?.data?.data?.totalCommissions);
          $("#yesterdayCommissionAmount").text(response?.data?.data?.totalCommissionsYesterday);
        } catch (error) {
          console.log(error);
        }

        $(".ar-loading-view").fadeOut();
      };
      // Initialize the subordinates data after BONUS_MONEY_ON_REGISTER is fetched
      initSubordinatesData();
    })
    .catch(error => console.error('Error fetching the app details:', error));
});


   
</script>
<script src="/js/client.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
      integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   <script>
      function formatIndianNumber(num) {
         let formattedNum = new Intl.NumberFormat("en-IN", {
            maximumFractionDigits: 2,
            minimumFractionDigits: 2,
         }).format(num)
         return formattedNum
      }

      // const initInvitationRecord = async () => {
      //    try {
      //       const response = await axios.get("/api/activity/invitation/record")

      //       if (response.data.status === true) {
      //          const data = response.data
      //          const list = data.data
      //          const html = list
      //             .map(item => {
      //                return `
      //                   <div data-v-67e25db3="" class="item">
      //                       <div data-v-67e25db3="" class="head" style="margin-bottom:0.1rem !important;"><span data-v-67e25db3="" class="name">${item.username}</span> <span data-v-67e25db3="" class="uid">UID:${item.uid}</span></div>
      //                       <div data-v-67e25db3="" class="line">Registration time<span data-v-67e25db3="" class="time">${item.create_time}</span></div>
      //                       <hr class="dotted">
      //                   </div>
      //                   `
      //             })
      //             .join("")

      //          $(".van-list").html(html)
      //       }
      //    } catch (error) {
      //       console.log(error)
      //    }
      // }
      // initInvitationRecord()
 

      const initInvitationRecord = async () => {
    try {
        // Fetch invited members
        const response = await axios.get("/api/activity/invitation/record");
        console.log("API Response:", response.data); // Debugging
        const data = response.data.data;

        // Fetch claimed rewards
        const claimedResponse = await axios.get("/api/claimed-rewards");
        const claimedRewards = claimedResponse.data.data.map(reward => reward.reward_id);

        console.log("Claimed Rewards:", claimedRewards); // Debugging

        // Generate the HTML
        const html = data.map((item) => {
            const firstRechargeDone = item.amount !== null;
            const bonusClaimed = claimedRewards.includes(item.phone);

            if (firstRechargeDone) {
                if (bonusClaimed) {
                    // Render disabled "Claim Bonus" button
                    return `
                        <div data-v-67e25db3=""  class="item" style="background: var(--bg_color_L3);">
                            <div data-v-67e25db3=""  class="head">
                                <span data-v-67e25db3=""  class="name">${item.username}</span>
                                <span data-v-67e25db3=""  class="uid">UID: ${item.uid}</span>
                            </div>
                            <div data-v-67e25db3=""  class="line">Registration time<span data-v-67e25db3=""  class="time">${item.create_time}</span></div>
                            
                            <button class="claimedBtn" style="background-color: grey; cursor: not-allowed;" disabled>
                                Bonus Claimed
                            </button>
                            <hr class="dotted">
                        </div>`;
                } else {
                    // Render active "Claim Bonus" button
                    return `
                        <div data-v-67e25db3=""  class="item" style="background: var(--bg_color_L3);">
                            <div data-v-67e25db3=""  class="head">
                                <span data-v-67e25db3=""  class="name">${item.username}</span>
                                <span data-v-67e25db3=""  class="uid">UID: ${item.uid}</span>
                            </div>
                            <div data-v-67e25db3=""  class="line">Registration time<span data-v-67e25db3=""  class="time">${item.create_time}</span></div>
                            
                            <button class="claimBonusBtn" data-phone="${item.phone}" onclick="claimBonus(this)">
                                Claim Bonus
                            </button><hr class="dotted">
                        </div>`;
                }
            } else {
                // Render "Recharge Pending" message
                return `
                    <div data-v-67e25db3=""  class="item" style="background: var(--bg_color_L3);">
                        <div data-v-67e25db3=""  class="head">
                            <span data-v-67e25db3=""  class="name">${item.username}</span>
                            <span data-v-67e25db3=""  class="uid">UID: ${item.uid}</span>
                        </div>
                        <div data-v-67e25db3=""  class="line">Registration time<span data-v-67e25db3=""  class="time">${item.create_time}</span></div>
                        
                        <span class="recharge-pending" style="color:red; font-weight:600; line-height: 30px;">Recharge Pending</span><hr class="dotted">
                    </div>`;
            }
        }).join("");

        const container = document.querySelector(".van-list");
        if (container) {
            container.innerHTML = html; // Inject HTML into container
        } else {
            console.error("Container element `.van-list` not found");
        }
    } catch (error) {
        console.error("Error initializing invitation records:", error.message || error);
    }
};









// Initialize the invitation records
initInvitationRecord();

// Handle "Claim Bonus" button click
async function claimBonus(button) {
    const phone = button.getAttribute("data-phone");
    console.log(`Claiming bonus for phone: ${phone}`); // Debugging

    // Disable button immediately to prevent duplicate clicks
    button.disabled = true;
    button.textContent = "Processing...";

    try {
        const response = await axios.post("/api/claim-bonus", { phone });
        console.log("Claim Bonus Response:", response.data); // Debugging

        if (response.data.status) {
            alert("Bonus claimed successfully!");
            button.textContent = "Bonus Claimed";
            button.classList.add("claimed"); // Add a class to highlight successful claims
        } else if (response.data.reason === "ALREADY_CLAIMED") {
            // Show a dialog if the bonus is already claimed
            alert("Bonus Already Claimed!");
            button.textContent = "Bonus Already Claimed";
            button.disabled = true; // Keep the button disabled
        } else {
            alert(response.data.message || "Failed to claim bonus. Please try again.");
            button.disabled = false; // Re-enable button on failure
            button.textContent = "Claim Bonus";
        }
    } catch (error) {
        console.error("Error claiming bonus:", error.message || error);
        alert("An error occurred while claiming the bonus. Please try again later.");
        button.disabled = false; // Re-enable button on error
        button.textContent = "Claim Bonus";
    }
}



const updateInvitationMetrics = async () => {
    try {
        const response = await axios.get("/api/total-invitation-bonus");
        console.log("Invitation Metrics Response:", response.data); // Debugging

        const { totalBonus, effectiveInvitationCount } = response.data.data;

        // Update the total bonus in the DOM
        const totalBonusElement = document.getElementById("invitationTotalBonus");
        if (totalBonusElement) {
            totalBonusElement.textContent = `₹${parseFloat(totalBonus).toFixed(2)}`;
        } else {
            console.error("Element with ID 'invitationTotalBonus' not found");
        }

        // Update the effective invitation count in the DOM
        const invitationCountElement = document.getElementById("effectiveInvitationCount");
        if (invitationCountElement) {
            invitationCountElement.textContent = effectiveInvitationCount;
        } else {
            console.error("Element with ID 'effectiveInvitationCount' not found");
        }
    } catch (error) {
        console.error("Error fetching invitation metrics:", error.message || error);
    }
};

// Call the function to update metrics on page load
updateInvitationMetrics();







   </script>
 

 
 </html>