<html lang="en" translate="no" data-dpr="1" dir="ltr" style="font-size: 41.2px;"><head>
    

    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <meta name="google" content="notranslate">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="manifest" />
    <title id="app-title"></title>
    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

  <script src="/js/app.js"></script>
    
    <link rel="stylesheet" href="/assets/css/modules-5dd73da0.css">
    <link rel="stylesheet" href="/assets/css/page-activity-2987852d.css">
    <link rel="stylesheet" href="/assets/css/page-home-6c452f5c.css">
    <link rel="stylesheet" href="/assets/css/page-login-13ee2916.css">
    <link rel="stylesheet" href="/assets/css/index-06e0e9c4.css">

<link rel="stylesheet" href="/assets/css/page-promotion-3f9ce693.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>





</head>

<body style="font-size: 12px;" class="">
    

    <div id="app" data-v-app="">
        <div data-v-647954c7="" class="ar-loading-view" style="display: none; --f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif;">
          <div data-v-647954c7="" class="loading-wrapper">
            <!-- <VanLoading />
            -->
            <div data-v-647954c7="" class="loading-animat">
            </div>
            <div data-v-647954c7="" class="com__box" style="display: none;">
              <!-- loading -->
              <div class="loading" data-v-647954c7="">
                <div class="shape shape-1" data-v-647954c7="">
                </div>
                <div class="shape shape-2" data-v-647954c7="">
                </div>
                <div class="shape shape-3" data-v-647954c7="">
                </div>
                <div class="shape shape-4" data-v-647954c7="">
                </div>
              </div>
              <!-- 说明：组件名 -->
            </div>
            <!-- <div class="animation"></div> -->
          </div>
          <div data-v-647954c7="" class="skeleton-wrapper" style="display: none;">
            <div data-v-647954c7="" class="van-skeleton van-skeleton--animate">
              <!---->
              <div class="van-skeleton__content">
                <!---->
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 60%;">
                </div>
              </div>
            </div>
            <div data-v-647954c7="" class="van-skeleton van-skeleton--animate">
              <div class="van-skeleton-avatar van-skeleton-avatar--round">
              </div>
              <div class="van-skeleton__content">
                <h3 class="van-skeleton-title">
                </h3>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 60%;">
                </div>
              </div>
            </div>
            <div data-v-647954c7="" class="van-skeleton van-skeleton--animate">
              <!---->
              <div class="van-skeleton__content">
                <h3 class="van-skeleton-title">
                </h3>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 100%;">
                </div>
                <div class="van-skeleton-paragraph" style="width: 60%;">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--v-if-->
        <div data-v-3b74cce6="" class="promotionShare__container" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif;">
          <div data-v-12a80a3e="" data-v-3b74cce6="" class="navbar">
            <div data-v-12a80a3e="" class="navbar-fixed">
              <div data-v-12a80a3e="" class="navbar__content">
                <div data-v-12a80a3e="" class="navbar__content-left" onclick="history.back()">
                  <i data-v-12a80a3e="" class="van-badge__wrapper van-icon van-icon-arrow-left">
                    <!---->
                    <!---->
                    <!---->
                  </i>
                </div>
                <div data-v-12a80a3e="" class="navbar__content-center">
                  <!--v-if-->
                  <div data-v-12a80a3e="" class="navbar__content-title">
                    Invite
                  </div>
                </div>
                <div data-v-12a80a3e="" class="navbar__content-right">
                </div>
              </div>
            </div>
          </div>
          <div data-v-3b74cce6="" class="promotionShare__container-tips">
            <p data-v-3b74cce6="">
              Please swipe left - right to choose your favorite poster
            </p>
          </div>
    
    <div data-v-3b74cce6="" class="swiper swiper-initialized swiper-horizontal swiper-pointer-events my-swipe swiper-backface-hidden">
        <div class="swiper-wrapper">
            <div data-v-3b74cce6="" class="swiper-slide swiper-slide-active" id="share0">
                <div data-v-3b74cce6="" class="promotionShare__container-swiper" style="width: 100%; margin-left: 1.2rem; margin-right: 1.2rem;">
                    <!-- Content here -->
                    <div data-v-3b74cce6="" class="sContent">
                        <img data-v-3b74cce6="" class="logo" src="/uploads/logo/logo.png" alt="">
                        <div data-v-3b74cce6="" class="head1">
                            <span data-v-3b74cce6="">lottery</span>
                            <span data-v-3b74cce6="">Fair and justice</span>
                            <span data-v-3b74cce6="">Open and transparent</span>
                        </div>
                        <div data-v-3b74cce6="" class="head2">Full Odds <span>Bonus</span> Rate</div>
                        <div data-v-3b74cce6="" class="head3">
                            <div data-v-3b74cce6=""><img data-v-3b74cce6="" class="logo" src="/assets/png/bank-1227ae77.png" alt=""> Financial security</div>
                            <div data-v-3b74cce6=""><img data-v-3b74cce6="" class="logo" src="/assets/png/trucktick-4f43261f.png" alt=""> Quick withdrawal</div>
                        </div>
                        <div data-v-3b74cce6="" class="head4">Permanent commission<span> up to </span>85%</div>
                    </div>
                    
                    <canvas id="qrcode-0"></canvas>

                </div>
                
            </div>
           <div data-v-3b74cce6="" class="swiper-slide" id="share1" >
                <div data-v-3b74cce6="" class="promotionShare__container-swiper" style="width: 100%; margin-left: 1.2rem; margin-right: 1.2rem;">
                    
                    <div data-v-3b74cce6="" class="sContent">
                        <img data-v-3b74cce6="" class="logo" src="/uploads/logo/logo.png" alt="">
                        <div data-v-3b74cce6="" class="head1">
                            <span data-v-3b74cce6="">lottery</span>
                            <span data-v-3b74cce6="">Fair and justice</span>
                            <span data-v-3b74cce6="">Open and transparent</span>
                        </div>
                        <div data-v-3b74cce6="" class="head2">Full Odds <span>Bonus</span> Rate</div>
                        <div data-v-3b74cce6="" class="head3">
                            <div data-v-3b74cce6=""><img data-v-3b74cce6="" class="logo" src="/assets/png/bank-1227ae77.png" alt=""> Financial security</div>
                            <div data-v-3b74cce6=""><img data-v-3b74cce6="" class="logo" src="/assets/png/trucktick-4f43261f.png" alt=""> Quick withdrawal</div>
                        </div>
                        <div data-v-3b74cce6="" class="head4">Permanent commission<span> up to </span>85%</div>
                    </div>
                    <canvas id="qrcode-1"></canvas>
                </div>
            </div>
            <div data-v-3b74cce6="" class="swiper-slide" id="share2">
                <div data-v-3b74cce6="" class="promotionShare__container-swiper" style="width: 100%; margin-left: 1.2rem; margin-right: 1.2rem;">
                   
                    <div data-v-3b74cce6="" class="sContent">
                        <img data-v-3b74cce6="" class="logo" src="/uploads/logo/logo.png" alt="">
                        <div data-v-3b74cce6="" class="head1">
                            <span data-v-3b74cce6="">lottery</span>
                            <span data-v-3b74cce6="">Fair and justice</span>
                            <span data-v-3b74cce6="">Open and transparent</span>
                        </div>
                        <div data-v-3b74cce6="" class="head2">Full Odds <span>Bonus</span> Rate</div>
                        <div data-v-3b74cce6="" class="head3">
                            <div data-v-3b74cce6=""><img data-v-3b74cce6="" class="logo" src="/assets/png/bank-1227ae77.png" alt=""> Financial security</div>
                            <div data-v-3b74cce6=""><img data-v-3b74cce6="" class="logo" src="/assets/png/trucktick-4f43261f.png" alt=""> Quick withdrawal</div>
                        </div>
                        <div data-v-3b74cce6="" class="head4">Permanent commission<span> up to </span>85%</div>
                    </div>
                    <canvas id="qrcode-2"></canvas>
                </div>
            </div> 
        </div>
    </div>
    
    <div data-v-3b74cce6="" class="promotionShare__container-slogan">
        <p data-v-3b74cce6="">
          Invite friends
        </p>
        <p data-v-3b74cce6="">
          Income
          <span data-v-3b74cce6="">
            10 billion
          </span>
          Commission
        </p>
      </div>
      <div data-v-3b74cce6="" class="promotionShare__container-buttons">
        <div data-v-3b74cce6="" class="share" id="download-content-0">
          INVITATION LINK
        </div>
        <div data-v-3b74cce6="" class="cpy" id="sharelink">
          Copy invitation link
        </div>
      </div>
      </div>
      <!--online custom service-->
      <div class="customer" id="customerId" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif; --f6a705e1-currentFontFamily: bahnschrift;">
        <img class="" data-origin="/assets/png/icon_sevice-8a1f5628.png" src="/assets/png/icon_sevice-8a1f5628.png">
      </div>
      <!--v-if-->
      <!---->
      <!---->
      <!--v-if-->
      <!--v-if-->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      <!---->
      </div>
 
    <style>
      .swiper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.swiper-slide {
    flex: 0 0 100%;
    position: relative;
    box-sizing: border-box;
}



  </style>

<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    // List of slide IDs and corresponding download buttons
    const slides = [
        { slideId: "share0", buttonId: "download-content-0" },
        { slideId: "share1", buttonId: "download-content-1" },
        { slideId: "share2", buttonId: "download-content-2" }
    ];

    // Function to capture slide content and download as image
    const captureAndDownloadSlide = (slideId) => {
        const slideElement = document.getElementById(slideId);
        if (!slideElement) {
            console.error(`Slide with ID '${slideId}' not found.`);
            return;
        }

        html2canvas(slideElement).then((canvas) => {
            const imageURL = canvas.toDataURL("image/png"); // Convert to PNG image
            const link = document.createElement("a");
            link.href = imageURL;
            link.download = `${slideId}.png`; // File name for the download
            link.click(); // Trigger download
        }).catch((error) => {
            console.error(`Error capturing slide '${slideId}':`, error);
        });
    };

    // Attach click event listeners to download buttons
    slides.forEach(({ slideId, buttonId }) => {
        const button = document.getElementById(buttonId);
        if (button) {
            button.addEventListener("click", () => captureAndDownloadSlide(slideId));
        } else {
            console.error(`Download button with ID '${buttonId}' not found.`);
        }
    });
});

</script>






<script>
  
  document.addEventListener('DOMContentLoaded', function () {
    const slides = document.querySelectorAll('.swiper-slide');
    const swiperWrapper = document.querySelector('.swiper-wrapper');

    if (!swiperWrapper || slides.length === 0) {
        console.error('Swiper structure is incomplete.');
        return;
    }

    let startX = 0, endX = 0, currentIndex = 0;

    function updateActiveSlide(index) {
        const totalSlides = slides.length;

        // Adjust currentIndex to stay within bounds
        currentIndex = (index + totalSlides) % totalSlides;

        // Update transform for sliding effect
        const offset = -currentIndex * 100;
        swiperWrapper.style.transform = `translateX(${offset}%)`;
        swiperWrapper.style.transition = 'transform 0.3s ease-in-out';

        // Update active class
        slides.forEach((slide, idx) => {
            if (idx === currentIndex) {
                slide.classList.add('swiper-slide-active');
            } else {
                slide.classList.remove('swiper-slide-active');
            }
        });
    }

    function handleSwipeChange() {
        const deltaX = endX - startX;

        if (deltaX > 50) {
            // Swipe right
            updateActiveSlide(currentIndex - 1);
        } else if (deltaX < -50) {
            // Swipe left
            updateActiveSlide(currentIndex + 1);
        }
    }

    swiperWrapper.addEventListener('touchstart', (e) => {
        startX = e.touches[0].clientX;
    });

    swiperWrapper.addEventListener('touchmove', (e) => {
        endX = e.touches[0].clientX;
    });

    swiperWrapper.addEventListener('touchend', () => {
        handleSwipeChange();
    });

    // Initialize first slide
    updateActiveSlide(currentIndex);
});



</script>


  <script>
  document.getElementById('saveimage').addEventListener('click', function() {
    // Create a temporary link element
    var link = document.createElement('a');
    link.href = '/assets/png/share.jpeg'; // URL of the image
    link.download = 'share.jpeg'; // Name of the file to be downloaded

    // Append the link to the body (required for Firefox)
    document.body.appendChild(link);

    // Programmatically click the link to trigger the download
    link.click();

    // Remove the link from the document
    document.body.removeChild(link);
});
</script>
<style>
    .message_alert_root {
       font-family:
          -apple-system,
          BlinkMacSystemFont,
          Helvetica Neue,
          Helvetica,
          Segoe UI,
          Arial,
          Roboto,
          PingFang SC,
          Hiragino Sans GB,
          Microsoft Yahei,
          sans-serif;
       font-size: 12px;
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       -webkit-tap-highlight-color: transparent;
       outline: none;
       max-width: 12.8rem;
       width: 80%;
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 100000;
       border-radius: 14px;
    }
 
    .message_alert_text {
       font-family:
          -apple-system,
          BlinkMacSystemFont,
          Helvetica Neue,
          Helvetica,
          Segoe UI,
          Arial,
          Roboto,
          PingFang SC,
          Hiragino Sans GB,
          Microsoft Yahei,
          sans-serif;
       margin: 0;
       box-sizing: border-box;
       -webkit-tap-highlight-color: transparent;
       outline: none;
       transition: opacity 0.5s;
       animation: bounce-in-data-v-1dcba851 0.5s;
       position: relative;
       padding: 0.32rem 0.66667rem;
       text-align: center;
       line-height: 0.64rem;
       overflow: hidden;
       font-size: 0.37333rem;
       color: #fff;
       background-color: rgba(0, 0, 0, 0.8);
    }
 
    @keyframes bounce-in-data-v-1dcba851 {
       0% {
          transform: scale(0.4);
       }
 
       50% {
          transform: scale(1.03);
       }
 
       to {
          transform: scale(1);
       }
    }
 </style>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
 <script>
    document.addEventListener('DOMContentLoaded', async function () {
    const userInfoTypes = { referCode: "code" };
    let userData = null;

    // Fetch user data
    const fetchUser = async () => {
        try {
            const response = await fetch("/api/webapi/GetUserInfo");
            if (!response.ok) throw new Error("Network response was not ok.");
            const data = await response.json();
            userData = data.data;
            console.log("Fetched user data:", userData);
        } catch (error) {
            console.error("Failed to fetch user data:", error);
        }
    };

// Generate QR Code
const generateQRCode = (referralCode, canvasId) => {
    const qrCodeElement = document.getElementById(canvasId); // Target the specific canvas by its id
    if (!qrCodeElement) {
        console.error(`QR Code container element with id '${canvasId}' not found.`);
        return;
    }

    const invitationLink = `${window.location.origin}/register?invitationCode=${encodeURIComponent(referralCode)}`;
    console.log(`Generating QR Code with link: ${invitationLink} for ${canvasId}`);

    // Set QR Code size
    qrCodeElement.width = 135;
    qrCodeElement.height = 135;

    try {
        QRCode.toCanvas(qrCodeElement, invitationLink, {
            width: 135,
            height: 135,
        }, function (error) {
            if (error) {
                console.error(`Error generating QR Code for ${canvasId}:`, error);
                // Fallback: Try generating a Data URL instead
                QRCode.toDataURL(invitationLink, function (error, url) {
                    if (error) {
                        console.error(`Error generating QR Code Data URL for ${canvasId}:`, error);
                    } else {
                        console.log(`QR Code Data URL generated successfully for ${canvasId}!`);
                        console.log(`QR Code Data URL: ${url}`);
                    }
                });
            } else {
                console.log(`QR Code generated successfully for ${canvasId}!`);
            }
        });
    } catch (error) {
        console.error(`Unexpected error generating QR Code for ${canvasId}:`, error);
    }
};

// Fetch user data and generate QR codes for each slide
await fetchUser();
if (userData && userData[userInfoTypes.referCode]) {
    generateQRCode(userData[userInfoTypes.referCode], "qrcode-0");
    generateQRCode(userData[userInfoTypes.referCode], "qrcode-1");
    generateQRCode(userData[userInfoTypes.referCode], "qrcode-2");
} else {
    console.error("Referral code not available.");
}


    // Copy invitation link to clipboard
    const handleCopyLink = () => {
        if (!userData) {
            alert("User data is not available. Please try again later.");
            return;
        }

        const referralCode = userData[userInfoTypes.referCode];
        if (!referralCode) {
            alert("Referral code is not available. Please try again later.");
            return;
        }

        const invitationLink = `${window.location.origin}/register?invitationCode=${referralCode}`;
        console.log("Copying invitation link:", invitationLink);

        navigator.clipboard.writeText(invitationLink)
            .then(() => {
                const popup = document.getElementById("copy-success-popup");
                popup.classList.add("visible");
                setTimeout(() => popup.classList.remove("visible"), 2000); // Hide after 2 seconds
            })
            .catch((error) => {
                console.error("Failed to copy invitation link:", error);
                alert("Failed to copy invitation link. Please try again.");
            });
    };

    // Set up event listener for "Copy" button
    document.getElementById("sharelink").addEventListener("click", handleCopyLink);

    // Fetch user data and generate QR code
    await fetchUser();
    if (userData && userData[userInfoTypes.referCode]) {
        generateQRCode(userData[userInfoTypes.referCode]);
    } else {
        console.error("Referral code not available.");
    }
});


 </script>



<style>.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 1000;
  }
  
  .popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .popup-icon {
    width: 30px;
    height: 30px;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  </style>
  <div id="copy-success-popup" class="popup hidden">
    <div class="popup-content">
      <img src="/assets/png/successtoast.png" alt="Success" class="popup-icon">
      <p>Copy successful</p>
    </div>
  </div>
</body></html>