<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<div id="preloader">
    <div class="loadingPlaceholder"></div>
</div>


<style>
    .user-panel img {
    height: auto;
    width: 100% !important;
    }
    .nav-list {
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove left padding */
    }
    .nav-item a {
        display: flex;
        align-items: center;
    }
    a {
    color: #0d6efd;
    text-decoration: none !important;
    }
    .layout-navbar-fixed .wrapper .content-wrapper {
    margin-top: 0px !important;
}

.card-primary:not(.card-outline) > .card-header {
    background-color: #313234 !important;
}
.btn-primary {
    color: #fff;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: none;
}
.bg-primary {
    background-color: #000000 !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: black !important;
}


.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: black !important;
}


.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(250px - 1.2rem* 2);
    transition: width ease-in-out 0.3s;
    margin-left: 12px;
}


.nav-link.active {
    background-color: black !important;
    color: #fff !important;
    
}

.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: 95%;
    transition: width ease-in-out 0.3s;
    margin-left: 5px;
}

/* Hover state */
.nav-link:hover {
    background-color: #cecece !important; /* Dark gray for hover */
    color: #000000 !important;
    text-decoration: none; /* Optional: Prevent underline on hover */
}

.nav-pills .show > .nav-link {
    background-color: black !important;
    color: #fff !important;
    
}

/* For the parent <a> inside the collapsible header */
h3 a.active {
    background-color: rgb(39, 54, 111) !important;
    color: #fff !important;
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
    
}

/* Collapsible header link - hover */
h3 a:hover {
    background-color: #cecece !important; /* Dark gray hover */
    color: #000000 !important;
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
    
}

a {
    padding-left: 12px;
    
}

.mb-2, .my-2 {
    margin-bottom: 0.98rem !important;
    
}


div#menuCollapse, div#menuCollapse1, div#menuCollapse2, div#menuCollapse3, div#menuCollapse4, div#menuCollapse5, div#menuCollapse6 {
    background-color: #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0.1rem !important;
}



</style>



<aside class="main-sidebar sidebar-light-primary elevation-4">
    <div class="sidebar" style="margin-top: 0;">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div data-v-a3117ed9="" class="terms-logo-left">
                <img data-v-a3117ed9="" src="/uploads/logo/logo.png" alt="">
                
             </div>
            
        </div>


        <div class="container mt-2">
            <!-- Heading -->
            <h3 class="mb-2">
                <a data-bs-toggle="collapse" href="#menuCollapse" role="button" aria-expanded="false" aria-controls="menuCollapse" style="font-size:16px; font-weight: 400 !important;">
                    <i class="nav-icon fas fa-chess-queen" style="margin-right: 10px;"></i>Manage Games
                </a>
            </h3>
            
            <!-- Collapsible List -->
            <div class="collapse" id="menuCollapse">
                <ul class="nav-pills nav-sidebar flex-column nav-list" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin/manager/index" class="nav-link">
                            <i class="nav-icon fas fa-dice-one"></i>
                            <p>Wingo (1 - Min)</p>
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/index/3" class="nav-link">
                            <i class="nav-icon fas fa-dice-three"></i>
                            <p>Wingo (3 - Min)</p>
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/index/5" class="nav-link">
                            <i class="nav-icon fas fa-dice-five"></i>
                            <p>Wingo (5 - Min)</p>
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/index/10" class="nav-link">
                            <i class="nav-icon fas fa-dice-six"></i>
                            <p>Wingo (10 - Min)</p>
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <hr class="dropdown-divider">
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/k3" class="nav-link">
                            <i class="nav-icon fas fa-dice-one"></i>
                            <p>K3 (1, 3, 5, 10 - Min)</p>
                            
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <hr class="dropdown-divider">
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/5d" class="nav-link">
                            <i class="nav-icon fas fa-dice-one"></i>
                            <p>5D (1, 3, 5, 10 - Min)</p>
                            
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>





        <div class="container mt-2">
            <!-- Heading -->
            <h3 class="mb-2">
                <a data-bs-toggle="collapse" href="#menuCollapse1" role="button" aria-expanded="false" aria-controls="menuCollapse" style="font-size:16px; font-weight: 400 !important;">
                    <i class="nav-icon fas fa-users" style="margin-right: 10px;"></i>Manage Members
                </a>
            </h3>
            
            <!-- Collapsible List -->
            <div class="collapse" id="menuCollapse1">
                <ul class="nav-pills nav-sidebar flex-column nav-list" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin/manager/members" class="nav-link">
                            <i class="nav-icon fas fa-user-friends"></i>
                            <p>Players</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/ctv" class="nav-link">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>Leaders</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/statistical" class="nav-link">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>Leaders Dashboard</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="container mt-2">
            <!-- Heading -->
            <h3 class="mb-2">
                <a data-bs-toggle="collapse" href="#menuCollapse2" role="button" aria-expanded="false" aria-controls="menuCollapse" style="font-size:16px; font-weight: 400 !important;">
                    <i class="nav-icon fas fa-money-check-alt" style="margin-right: 10px;"></i>Manage Finance
                </a>
            </h3>
            
            <!-- Collapsible List -->
            <div class="collapse" id="menuCollapse2">
                <ul class="nav-pills nav-sidebar flex-column nav-list" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin/manager/recharge" class="nav-link">
                            <i class="nav-icon fas fa-funnel-dollar"></i>
                            <p>Pending Recharge</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/rechargeRecord" class="nav-link">
                            <i class="nav-icon fas fa-file-invoice-dollar"></i>
                            <p>Approved Recharge</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/admin/manager/withdraw" class="nav-link">
                            <i class="nav-icon fas fa-funnel-dollar"></i>
                            <p>Pending Withdrawal</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/admin/manager/withdrawRecord" class="nav-link">
                            <i class="nav-icon fas fa-file-invoice-dollar"></i>
                            <p>Approved Withdrawal</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>





        <div class="container mt-2">
            <!-- Heading -->
            <h3 class="mb-2">
                <a data-bs-toggle="collapse" href="#menuCollapse3" role="button" aria-expanded="false" aria-controls="menuCollapse" style="font-size:16px; font-weight: 400 !important;">
                    <i class="nav-icon fas fa-money-bill-alt" style="margin-right: 10px;"></i>Bonus & Salary
                </a>
            </h3>
            
            <!-- Collapsible List -->
            <div class="collapse" id="menuCollapse3">
                <ul class="nav-pills nav-sidebar flex-column nav-list" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin/manager/CreatedBonusRecord" class="nav-link">
                            <i class="nav-icon fas fa-medal"></i>
                            <p>Manage Bonus</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/admin/manager/CreatedSalaryRecord" class="nav-link">
                            <i class="nav-icon fas fa-money-bill"></i>
                            <p>Manage Salary</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/admin/manager/DailySalaryEligibility" class="nav-link">
                            <i class="nav-icon fas fa-money-check-alt"></i>
                            <p>Salary Check Data</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="container mt-2">
            <!-- Heading -->
            <h3 class="mb-2">
                <a data-bs-toggle="collapse" href="#menuCollapse4" role="button" aria-expanded="false" aria-controls="menuCollapse" style="font-size:16px; font-weight: 400 !important;">
                    <i class="nav-icon fa fa-gift" style="margin-right: 10px;"></i>Gift Codes
                </a>
            </h3>
            
            <!-- Collapsible List -->
            <div class="collapse" id="menuCollapse4">
                <ul class="nav-pills nav-sidebar flex-column nav-list" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin/manager/createBonus" class="nav-link">
                            <i class="nav-icon fa fa-gift"></i>
                            <p>Manage Gift Codes</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="container mt-2">
            <!-- Heading -->
            <h3 class="mb-2">
                <a data-bs-toggle="collapse" href="#menuCollapse5" role="button" aria-expanded="false" aria-controls="menuCollapse" style="font-size:16px; font-weight: 400 !important;">
                    <i class="nav-icon fas fa-envelope" style="margin-right: 10px;"></i>App Notifications
                </a>
            </h3>
            
            <!-- Collapsible List -->
            <div class="collapse" id="menuCollapse5">
                <ul class="nav-pills nav-sidebar flex-column nav-list" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin/manager/notifsettings" class="nav-link">
                            <i class="nav-icon fas fa-comment"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/feedbacks" class="nav-link">
                            <i class="nav-icon fas fa-comments"></i>
                            <p>Feedbacks</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>




        <div class="container mt-2">
            <!-- Heading -->
            <h3 class="mb-2">
                <a data-bs-toggle="collapse" href="#menuCollapse6" role="button" aria-expanded="false" aria-controls="menuCollapse" style="font-size:16px; font-weight: 400 !important;">
                    <i class="nav-icon fa fa-cog" style="margin-right: 10px;"></i>Manage Settings
                </a>
            </h3>
            
            <!-- Collapsible List -->
            <div class="collapse" id="menuCollapse6">
                <ul class="nav-pills nav-sidebar flex-column nav-list" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="/admin/manager/settings" class="nav-link">
                            <i class="nav-icon fa fa-cog"></i>
                            <p>Settings</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/appsettings" class="nav-link">
                            <i class="nav-icon fas fa-mobile-alt" aria-hidden="true"></i>
                            <p>App Settings</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/bannersettings" class="nav-link">
                            <i class="nav-icon fas fa-images" aria-hidden="true"></i>
                            <p>Banner Settings</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/bonussettings" class="nav-link">
                            <i class="nav-icon fas fa-medal" aria-hidden="true"></i>
                            <p>Bonus Settings</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/levelSetting" class="nav-link">
                            <i class="nav-icon fas fa-star"></i>
                            <p>Level Setting</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/manager/advsettings" class="nav-link">
                            <i class="nav-icon fas fa-laptop-code" aria-hidden="true"></i>
                            <p>Advance Settings</p>
                        </a>
                    </li> 
                    
                </ul>
            </div>
        </div>






        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                       
                <li class="nav-item">
                    <a href="/home" class="nav-link">
                        <i class="nav-icon fa fa-sign-out" aria-hidden="true"></i>
                        <p>Go To Website</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>


<script>
    // Function to activate menu based on current URL
    document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname; // Get current path
        const navLinks = document.querySelectorAll(".nav-link");
        let parentCollapse = null;

        navLinks.forEach((link) => {
            if (link.getAttribute("href") === currentPath) {
                link.classList.add("active"); // Add active to the link
                parentCollapse = link.closest(".collapse"); // Get the closest collapsible parent
            }
        });

        if (parentCollapse) {
            parentCollapse.classList.add("show"); // Expand the menu
            const parentAnchor = parentCollapse.previousElementSibling.querySelector("a");
            if (parentAnchor) {
                parentAnchor.classList.add("active");
                parentAnchor.setAttribute("aria-expanded", "true"); // Set expanded state
            }
        }
    });
</script>
