<div data-v-03b808c2="" class="game-betting">
    <div data-v-03b808c2="" class="tab">
        <div data-v-03b808c2="" class="box c-row game-minutes">
            <div data="1" data-v-03b808c2="" class="item c-tc action">
                
                <div data="1" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px;">
                        <img src="/assets/png/time_a-d4670671.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px; display: none;">
                        <img src="/assets/png/time-d2b95809.png" class="van-image__img">
                    </div>
                    
                </div>
                <div data="1" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>1Min</div>
            </div>
            <div data="3" data-v-03b808c2="" class="item c-tc">
                
                <div data="3" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="/assets/png/time_a-d4670671.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="/assets/png/time-d2b95809.png" class="van-image__img">
                    </div>
                   
                </div>
                <div data="3" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>3Min</div>
            </div>
            <div data="5" data-v-03b808c2="" class="item c-tc">
                
                <div data="5" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="/assets/png/time_a-d4670671.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="/assets/png/time-d2b95809.png" class="van-image__img">
                    </div>
                    
                </div>
                <div data="5" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>5Min</div>
            </div>
            <div data="10" data-v-03b808c2="" class="item c-tc">
                
                <div data="10" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 50px; height: 50px; display: none;">
                        <img src="/assets/png/time_a-d4670671.png" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 50px; height: 50px;">
                        <img src="/assets/png/time-d2b95809.png" class="van-image__img">
                    </div>
                    
                </div>
                <div data="10" data-v-03b808c2="" class="txt c-tc">K3 Lotre</br>10Min</div>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="content">
        <div data-v-03b808c2="" class="page-box">
            <div data-v-03b808c2="" class="flex-row-between period-title"><span data-v-03b808c2="">Period</span>
                
                <div data-v-75b35bf5="" class="K3TL__C-rule">
                    <svg data-v-75b35bf5="" xmlns="http://www.w3.org/2000/svg" width="33"
                    height="32" viewBox="0 0 33 32" fill="none">
                      <path data-v-75b35bf5="" d="M9.0484 25.8284L9.04089 25.8359L9.03366 25.8437C8.47797 26.4402 7.97942 26.8014 7.56631 26.9797C7.15908 27.1556 6.87147 27.141 6.67169 27.055C6.46753 26.967 6.24252 26.7559 6.06263 26.3149C5.88195 25.8718 5.76602 25.2377 5.76602 24.3993V9.38602C5.76602 6.69019 6.09509 5.23943 6.86083 4.42092C7.61326 3.61665 8.94055 3.26602 11.4593 3.26602H21.5393C24.0584 3.26602 25.3852 3.61676 26.1358 4.42054C26.8997 5.23844 27.226 6.68864 27.2193 9.38453V9.38602V24.386C27.2193 25.2248 27.1041 25.8592 26.9242 26.3024C26.7451 26.7438 26.5211 26.9543 26.3182 27.0418C26.1198 27.1275 25.8328 27.1424 25.4244 26.9663C25.0105 26.7878 24.5102 26.4264 23.9512 25.8299C23.2918 25.1224 22.4328 24.7733 21.5701 24.8202C20.7074 24.8672 19.8916 25.3075 19.3127 26.0793L19.3123 26.0799L17.9676 27.8772C17.9673 27.8776 17.967 27.878 17.9667 27.8785C17.5231 28.4638 16.9844 28.7094 16.4927 28.7094C16.001 28.7094 15.4623 28.4638 15.0187 27.8785C15.0184 27.878 15.0181 27.8776 15.0177 27.8772L13.6733 26.0802C13.6732 26.0801 13.6732 26.08 13.6731 26.0799C12.5033 24.515 10.4028 24.3993 9.05577 25.8211L9.0484 25.8284ZM8.93935 14.666C8.93935 15.7307 9.80798 16.5993 10.8727 16.5993C11.9374 16.5993 12.806 15.7307 12.806 14.666C12.806 13.6013 11.9374 12.7327 10.8727 12.7327C9.80798 12.7327 8.93935 13.6013 8.93935 14.666ZM8.93935 9.33268C8.93935 10.3974 9.80798 11.266 10.8727 11.266C11.9374 11.266 12.806 10.3974 12.806 9.33268C12.806 8.26798 11.9374 7.39935 10.8727 7.39935C9.80798 7.39935 8.93935 8.26798 8.93935 9.33268ZM14.806 16.266H22.1393C23.0174 16.266 23.7393 15.5441 23.7393 14.666C23.7393 13.788 23.0174 13.066 22.1393 13.066H14.806C13.928 13.066 13.206 13.788 13.206 14.666C13.206 15.5441 13.928 16.266 14.806 16.266ZM14.806 10.9327H22.1393C23.0174 10.9327 23.7393 10.2107 23.7393 9.33268C23.7393 8.45465 23.0174 7.73268 22.1393 7.73268H14.806C13.928 7.73268 13.206 8.45465 13.206 9.33268C13.206 10.2107 13.928 10.9327 14.806 10.9327Z"
                      stroke="currentColor" stroke-width="1.2">
                      </path>
                    </svg>
                    How to play
                  </div>
                
                
                <span data-v-03b808c2="" style="margin-left: auto;"> Time Left</span></div>
            <div data-v-03b808c2="" class="flex-row-between flex-center period-span"><span
                    data-v-03b808c2="" id="period"></span>
                <div data-v-03b808c2="" class="flex-row-end">
                    <div data-v-03b808c2="" class="li-item">0</div>
                    <div data-v-03b808c2="" class="li-item">0</div><span data-v-03b808c2="" class="li-symbol">:</span>
                    <div data-v-03b808c2="" class="li-item">4</div>
                    <div data-v-03b808c2="" class="li-item">4</div>
                </div> 
            </div>
        </div>
        <div data-v-03b808c2="" style="text-align: center; background-color: #ffffff;">
            <div data-v-03b808c2="" class="slot-inner">
                <div data-v-03b808c2="" class="d5-slot-box">
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg5"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg6"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-03b808c2="" class="bet-box">
            <div data-v-03b808c2="" class="bet-mark">
                <div data-v-03b808c2="" class="mark-box c-row c-row-middle-center" style="display: none;">
                    <span data-v-03b808c2="" class="item m-r-20">0</span>
                    <span data-v-03b808c2="" class="item m-l-20">0</span>
                </div><br>
                <div data-v-03b808c2="" class="bet-tab">
                <ul data-v-03b808c2="" class="c-row c-row-between">
                    <li data-v-03b808c2="" game="1" class="item action block-click">Total</li>
                    <li data-v-03b808c2="" game="2" class=" item">2 Same</li>
                    <li data-v-03b808c2="" game="3" class=" item">3 Same</li>
                    <li data-v-03b808c2="" game="4" class=" item">Different</li>
                </ul>
                </div>
                <div data-v-03b808c2="" game="1" class="bet-con">
                    <div data-v-03b808c2="" class="check-box c-row c-flex-warp c-row-between list-join-total">
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="3" data-join="3" >
                                <div data-v-03b808c2="" class="name number-box">3</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="4" data-join="4" >
                                <div data-v-03b808c2="" class="name number-box">4</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="5" >
                                <div data-v-03b808c2="" class="name number-box">5</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="6" >
                                <div data-v-03b808c2="" class="name number-box">6</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="7" >
                                <div data-v-03b808c2="" class="name number-box">7</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="8" >
                                <div data-v-03b808c2="" class="name number-box">8</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="9" >
                                <div data-v-03b808c2="" class="name number-box">9</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3</span></div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="10" >
                                <div data-v-03b808c2="" class="name number-box">10</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data-join="11" >
                                <div data-v-03b808c2="" class="name number-box">11</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="12" data-join="12" >
                                <div data-v-03b808c2="" class="name number-box">12</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="13" data-join="13" >
                                <div data-v-03b808c2="" class="name number-box">13</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="14" data-join="14" >
                                <div data-v-03b808c2="" class="name number-box">14</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="15" data-join="15" >
                                <div data-v-03b808c2="" class="name number-box">15</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="16" data-join="16" >
                                <div data-v-03b808c2="" class="name number-box">16</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="17" data-join="17" >
                                <div data-v-03b808c2="" class="name number-box">17</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="18" data-join="18" >
                                <div data-v-03b808c2="" class="name number-box">18</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item" style="border-radius: 0.13333rem; height: 1.2667rem; background-color: var(--norm_secondary-color); align-content: center; border: 2px solid white;">
                            <div data-v-03b808c2="" class="li" data="b" data-join="Big" style="color: #ffffff;">
                                <div data-v-03b808c2="" class="name">Big</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item" style="border-radius: 0.13333rem; height: 1.2667rem; background-color: var(--norm_bule-color); align-content: center; border: 2px solid white;">
                            <div data-v-03b808c2="" class="li" data="s" data-join="Small" style="color: #ffffff;">
                                <div data-v-03b808c2="" class="name">Small</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item" style="border-radius: 0.13333rem; height: 1.2667rem; background-color: var(--norm_red-color); align-content: center; border: 2px solid white;">
                            <div data-v-03b808c2="" class="li" data="l" data-join="Odd" style="color: #ffffff;">
                                <div data-v-03b808c2="" class="name">Odd</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item" style="border-radius: 0.13333rem; height: 1.2667rem; background-color: var(--norm_green-color); align-content: center; border: 2px solid white;">
                            <div data-v-03b808c2="" class="li" data="c" data-join="Even" style="color: #ffffff;">
                                <div data-v-03b808c2="" class="name">Even</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">1.92</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-03b808c2="" game="2" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 2 suitable numbers：Odds <span data-v-03b808c2="">13.83</span></div>
                    <div data-v-03b808c2="" data="chon-2-so-phu-hop" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" game="2_1" data="11" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="22" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="33" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="44" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="55" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="66" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">If the lottery result matches 2 numbers you bet, you will win the prize. (Except for three identical numbers).</div>
                    <div data-v-03b808c2="" class="title">Choose a unique pair of numbers：Odds <span data-v-03b808c2="">69.12</span></div>
                    <div data-v-03b808c2="" hang="1" data="Select 1 unique pair" class="num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="11" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" data="22" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" data="33" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" data="44" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" data="55" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" data="66" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" hang="2" data="chon-1-cap-duy-nhat" class="num-box green c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Select at least 1 pair of identical numbers and 1 different number to place a bet. If the lottery result matches the numbers you bet, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="3" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 unique numbers：odds <span data-v-03b808c2="">207.36</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="111" class="item">
                            <!---->
                            <div data-v-03b808c2="">111</div>
                        </div>
                        <div data-v-03b808c2="" data="222" class="item">
                            <!---->
                            <div data-v-03b808c2="">222</div>
                        </div>
                        <div data-v-03b808c2="" data="333" class="item">
                            <!---->
                            <div data-v-03b808c2="">333</div>
                        </div>
                        <div data-v-03b808c2="" data="444" class="item">
                            <!---->
                            <div data-v-03b808c2="">444</div>
                        </div>
                        <div data-v-03b808c2="" data="555" class="item">
                            <!---->
                            <div data-v-03b808c2="">555</div>
                        </div>
                        <div data-v-03b808c2="" data="666" class="item">
                            <!---->
                            <div data-v-03b808c2="">666</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">* If the lottery result matches the 3 numbers you bet, you will win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 identical numbers: Odds <span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-giong-nhau num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 identical numbers</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three identical numbers, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="4" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 different numbers: <span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">Choose 3 or more numbers. If the three numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 consecutive numbers: Odds <span data-v-03b808c2="">8.64</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-lien-tiep num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 consecutive numbers.</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three consecutive numbers, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 2 different numbers: Odd<span data-v-03b808c2="">6.91</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Choose 2 or more numbers, if two numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .game-betting .tab .box .item .txt[data-v-03b808c2] {
   color: #4a6aa2;
   font-size: .29rem !important;
   }

   .game-betting .tab .box .item[data-v-03b808c2] {
   flex: 0 0 25%;
   padding: .15rem .13333rem .15667rem !important;
   border-radius: .3rem;
   position: relative;
   }

   .game-betting .tab .box .item .img[data-v-03b808c2] {
   position: relative;
   display: contents;
   }

   .game-betting .tab .box .item.c-tc.action {
    background: var(--main_gradient-color2) !important;
   border-radius: .26667rem;
   }

   .game-betting .tab .box .item[data-v-03b808c2] {
   background: #00000000 !important;
   
   box-shadow: 0 -.05333rem .16rem #00000000 inset !important;
   border-radius: .26667rem;
}

.van-notice-bar {
   margin: 0rem !important;
   width: auto !important;
}

.game-betting .tab .box[data-v-03b808c2]:after {
    
    display: none;
    
}



.number-box {
    width: 50px;          /* Set appropriate width */
    height: 50px;         /* Set appropriate height */
    text-align: center;   /* Center the text */
    line-height: 50px;    /* Vertically center the text */
    border-radius: 50%;   /* Make the div circular */
    background-size: cover;
    font-size: 0.59333rem !important;
    font-weight: 600;
    display: inline-block;  /* Keep it inline */
    margin: 5px;          /* Add some spacing */
}

</style>

<script>
    document.querySelectorAll('.number-box').forEach(function (element) {
    const number = parseInt(element.textContent.trim());

    if (!isNaN(number)) {
        if (number % 2 === 0) {
            // Even number - apply greenball background and green text
            element.style.backgroundImage = 'url("/assets/png/greenball.png")';
            element.style.color = '#1AB266';
        } else {
            // Odd number - apply redball background and red text
            element.style.backgroundImage = 'url("/assets/png/redball.png")';
            element.style.color = '#e93333';
        }
        element.style.backgroundSize = 'cover';  // Ensure background covers the entire div
    }
});

</script>